altgraph==0.17.2
cycler==0.11.0
dlib==19.17.99
fonttools==4.33.3
future==0.18.2
importlib-metadata==4.11.4
kiwisolver==1.4.2
matplotlib==3.5.2
numpy==1.21.6
opencv-python==4.5.2.54
packaging==21.3
pefile==2022.5.30
Pillow==9.1.1
pyinstaller==5.1
pyinstaller-hooks-contrib==2022.7
pyparsing==3.0.9
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.10.1
python-dateutil==2.8.2
pywin32-ctypes==0.2.0
six==1.16.0
typing_extensions==4.2.0
zipp==3.8.0
